.header__lang-link {
    width: 30px;
    height: 28px;
    color: white;
    font-size: 24px;
    font-weight: normal;
    margin-left: 18px;
    font-family: 'Inter';
    font-weight: lighter;
    text-decoration: none;
}