.cover__subtitle {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: 288px;
        margin-top: 16px;
        margin-bottom: 33px;
    }
}