.lead__title {
    display: flex;
    text-align: center;
    font-size: 96px;
    font-weight: bold;
    line-height: 100px;
    max-width: 720px;
    font-family: 'Inter';
    font-weight: 900;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
    }
}