.place__paragraph {
    font-family: 'Inter';
    font-size: 18px;
    line-height: 29.34px;
    margin: 0;
}

@media screen and (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 26.08px;
        margin-left: 16px;
        margin-right: 16px;
        width: 288px;
    }
}