.intro {
    display: flex;
    flex-direction: column;
    margin-left: 148px;
}

@media screen and (max-width: 1280px) {
    .intro {
        margin-left: 48px;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        margin-left: 24px;
    }
}