.lead__caption {
    font-family: 'Inter';
    font-weight: lighter;
    font-size: 10px;
    line-height: 14px;
    margin-top: 8px;
    margin-bottom: 0;
    width: 158px;
    height: 14px;
    letter-spacing: 0.1em;
    align-self: flex-start;
    margin-left: 0;
}

@media screen and (max-width: 1279px) {
    .lead__caption {
        margin-left: 0;
    }
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}